{# Citation for the following code:
Date: 05/22/2024
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#step-0---quick-and-dirty-task-1-setup
and
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category - Personal Budget Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Update Category</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/categories">Manage Categories</a></li>
                <li><a href="/expenses">Manage Expenses</a></li>
                <li><a href="/income">Manage Income Sources</a></li>
                <li><a href="/users">Manage Users</a></li>
                <li><a href="/passwords">Manage User Passwords</a></li>
                <li><a href="/accounts">Manage Accounts</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <form action="{{ url_for('categories_bp.update_category', categoryID=category.categoryID) }}" method="POST">
        <legend><strong>Edit Category</strong></legend>
        <fieldset>
            <input type="hidden" value="{{ category.categoryID }}" name="categoryID" required>
            <label for="categoryName">Category Name:</label>
            <input type="text" id="categoryName" name="categoryName" value="{{ category.categoryName }}" required>
        </fieldset>
        <button type="submit" name="Update_Category">Update Category</button>
        <button type="button" onClick="window.location.href='/categories'">Cancel</button>
    </form>
</main>

    <footer>
        <p>© 2024 Personal Budget Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
